<!DOCTYPE html>
<html>

<head>
    <title>Set Target</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h3>Setting Target Personel</h3>
    <form method="POST">
        <input type="text" name="nama" placeholder="Nama (contoh: ayu)" required><br><br>
        <input type="number" name="t_crm" placeholder="Target CRM (Unit)" required><br><br>
        <input type="number" name="t_sales" placeholder="Target Sales (Rp)" required><br><br>
        <button type="submit">SIMPAN TARGET</button>
    </form>
    <br><a href="/bm">Batal</a>
</body>

</html>