<!DOCTYPE html>
<html>

<head>
    <title>Input TM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h2>Input Penjualan TM</h2>
    <form method="POST">
        <select name="nama_tm" required>
            <option value="ayu">AYU</option>
            <option value="weani">WEANI</option>
            <option value="risma">RISMA</option>
            <option value="yunita">YUNITA</option>
        </select><br><br>
        <input type="text" name="nama_konsumen" placeholder="Nama Konsumen" required><br><br>
        <select name="tipe">
            <option value="Cash">Cash</option>
            <option value="Kredit">Kredit</option>
        </select><br><br>
        <input type="number" name="nominal" placeholder="Nominal Rp" required><br><br>
        <button type="submit">KIRIM DATA</button>
    </form>
    <br><a href="/">Kembali</a>
</body>

</html>